/__pycache__                           
/readMe.txt                            
/sendMovementSequence-mov.py           
/sim.py                                
/synchronousImageTransmission.py
/depth_image_encoding.py               
/remoteApi.dylib                       
/sendMovementSequence-pts.py           
/simConst.py                           
/visualization.py
/pController.py                        
/sendIkMovementSequence-mov.py         
/sendSimultan2MovementSequences-mov.py 
/simpleSynchronousTest.py
/ply.py                                
/sendIkMovementSequence-pts.py         
/setup.sh                              
/simpleTest.py

